#splash {
    position: relative;
}
#splash picture {
    display: block;
    line-height: 0;
}
#splash img {
    width: 100%;
    height: 100vh;
    max-height: 750px;
    object-fit: cover;
}
#splash.top img {
    object-position: center top;
}

.home header,
.with-splash header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
.home header .title,
.with-splash header .title {
    background-color: transparent;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 1);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

#splash a.scrolldown {
    position: absolute;
    left: calc(50% - 60px);
    bottom: 10px;
    color: #fff;
    font-size: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #000;
    animation: shadow-pulse 1s infinite;
}

#factoids {
    background-color: #0677b8;
    color: #fff;
    padding: 16px 0;
}
#factoids li {
    text-align: center;
    padding: 16px;
    width: 33.33%;
}
#factoids strong {
    display: block;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
}
#factoids a {
    color: inherit;
    text-decoration: none;
}


.hometiles .row {
    display: flex;
    margin: 50px 0;
    align-items: center;  /* вертикальное центрирование */
}
.hometiles .picture {
    flex: 0 0 auto;
    width: 60%;
    display: block;
    line-height: 0;
}
.hometiles .text {
    flex: 0 0 auto;
    width: 40%;
}
.hometiles img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.hometiles .text {
    padding: 20px;
    box-sizing: border-box;
}
.hometiles .row:nth-child(even) .picture {
    order: 2;
}
.hometiles h2 {
    font-size: 1em;
    margin: 0 0 5px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .hometiles .row {
        display: block;
    }
    .hometiles .text {
        width: 100%;
    }
    .hometiles .picture {
        width: 100%;
    }
}
