/* lib/local/layout.css */ body {
    font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

.page-header {
    margin-top: 0;
}

figure {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

td.number, th.number {
    white-space: nowrap;
    text-align: right;
}

hr {
    clear: both;
}

img[align=left] {
    float: left;
    margin: 0 20px 10px 0;
}
img[align=right] {
    float: right;
    margin: 0 0 10px 20px;
}

.phone {
    white-space: nowrap;
    font-weight: bold;
}

form textarea {
    min-width: 100%;
    max-width: 100%;
}

table.blogs td.date {
    padding-right: 20px;
}

.mcontainer {
    min-height: calc(100vh - 312px);
}

/* lib/local/footer.css */ footer {
    background-color: #dfc36d;
    color: #000;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 50px;
}

footer a {
    color: inherit;
}

/* lib/local/async.css */ .progressbar {
    width: 100%;
    background-color: #932727;
    height: 20px;
    position: relative;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.progressbar .done {
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff9231;
    background-image: url(/static/images/progress.gif);
    background-repeat: repeat-x;
    background-position: 0 50%;
    border-radius: 5px;
    z-index: 1;
}
.progressbar .label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-family: monospace;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
}
.waitmsg {
    display: none;
}

/**
 * Hide auto-submit file buttons.
 **/
label.btn input[type=file] {
    display: none;
}


.spin {
    display: none;
}
body.wait .spin {
    display: inline-block;
    animation: spin 2s infinite linear;
    margin-left: 10px;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

body.wait #wait_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/* assets/tables.css */ table.table td.wide,
table.table th.wide {
    width: 100%;
}

table.workhours td {
    padding-right: 10px;
}

/* lib/local/comments.css */ #disqus_thread {
    margin-top: 20px;
}

/* lib/local/splash.css */ .splashes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.splashes li > a {
    display: block;
    width: 100%;
    height: 400px;
    background-position: 50% 50%;
    background-size: cover;
    text-decoration: none;
}

.splashes .title {
    display: block;
    padding: 0 20px;
    margin: 0;

    background-color: rgba(0, 0, 0, .75);
    color: #fff;

    font-size: 25px;
    line-height: 50px;
}

.splashes .description {
    display: block;

    padding: 10px 20px;
    margin: 0;

    background-color: rgba(64, 64, 64, .85);
    color: #fff;

    font-size: 14px;
    line-height: 20px;
}

.bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0;
}


.homebuilding {
    width: 400px;
    margin: 0 0 10px 20px;
    float: right;
}
@media (max-width: 800px) {
    .homebuilding {
        width: 100%;
        margin: 0 0 10px;
        float: none;
    }
}

/* lib/local/tiles.css */ .tiles {
    margin-top: 20px;
    margin-left: -10px;
}
.tile {
    display: inline-block;
    width: 33.333%;
    vertical-align: top;
    margin: 0 0 20px;
}
.tile .wrap {
    position: relative;
    padding: 0 10px;
}
.tile img {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.tile a.image {
    display: block;

    width: 100%;
    height: 66%;

    /*
    width: 300px;
    height: 200px;
    */

    background-size: cover;
    background-position: 50% 50%;
}
.tile .date {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
}
.tile .title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.tile .title a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@media (max-width: 700px) {
    .tile {
        width: 100%;
    }
}

/* lib/local/events.css */ .event_strip {
    background-color: #dfc36d;
}
.event_strip a {
    color: inherit;
}
.event_strip h2 {
    font-size: 24px;
}

.event_strip ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
}
.event_strip li {
    margin: 0 0 .5em;
    line-height: 1.25em;
}

/* lib/local/maps.css */ .map {
    clear: both;

    width: 100%;
    min-height: 300px;
    background-color: #eee;
}

#place_map {
    margin-bottom: 20px;
}

#places_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.places .leaflet-top {
    top: 50px;
}

.leaflet-popup-content p {
    margin: 5px 0;
}

/* lib/local/photos.css */ .photos {
    margin: 20px 0;
    line-height: 0;
}

.photos .photo {
    display: inline-block;
    margin: 0 1px 1px 0;
    width: 200px;
    height: 200px;
}
.photos .photo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

img.photo {
    margin: 0 0 20px;
}

.photow {
    position: relative;
}
.photow img {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.photow .prev {
    color: #fff;
    display: block;
    font-size: 30px;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin-top: -25px;
    outline: none;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    top: 50%;
    width: 50px;
}
.photow .next {
    color: #fff;
    display: block;
    font-size: 30px;
    height: 50px;
    left: 100%;
    line-height: 50px;
    margin-top: -25px;
    margin-left: -50px;
    outline: none;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
    top: 50%;
    width: 50px;
}

img.cropme {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.bigphoto {
    display: block;
    position: relative;

    background-color: #333;
    height: calc(100vh - 100px);
    margin-top: -20px; /* компенсация за .navbar */

    border-top: 10px solid #333;
    border-bottom: 50px solid #333;
}

.bigphoto .img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    outline: none;

    font-size: 0;
    line-height: 0;
}

.bigphoto .nav {
    display: block;
    position: absolute;

    top: 50%;
    margin-top: -35px;

    font-size: 50px;
    line-height: 50px;
    color: #fff;
    outline: none;
    text-decoration: none;

    width: 70px;
    height: 70px;

    text-align: center;
    opacity: 0.5;
}
.bigphoto .nav:hover {
    opacity: 1;
}

.bigphoto .nav.left {
    left: 0px;
}
.bigphoto .nav.right {
    left: 100%;
    margin-left: -70px;
}

.bigphoto .toolbar {
    position: absolute;
    top: 100%;
    height: 50px;
    width: 100%;
}
.bigphoto .actions {
    float: right;
    padding-right: 20px;
}
.bigphoto .actions a {
    display: inline-block;
    color: #fff;
    text-decoration: none;

    font-size: 20px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    outline: none;
}

.bigphoto .variants {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 2px;
    left: 50%;
    margin-left: -100px;
}
.bigphoto .variants a {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 2px;
    border: 1px solid #fff;
    outline: none;
}

.bigphoto .title {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

@media (max-width: 999px) {
    .bigphoto {
        border-bottom-width: 100px;
    }
    .bigphoto .title {
        text-align: center;
        white-space: nowrap;
        width: 100%;
        left: 0;
    }
    .bigphoto .actions {
        float: none;
        text-align: center;
        margin-top: 50px;
        padding-right: 0;
    }
}

/* lib/local/gallery.css */ .gallery {
    line-height: 0;
}
.gallery .item {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    text-indent: -10000px;

    font-size: 0;
    line-height: 0;

    margin: 0 1px 1px 0;
    outline: none;
}

.gallery-group {
    line-height: 0;
    font-size: 0;
}
.gallery-group .thumbnail {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 3px;
    border: solid 1px #ccc;
    display: inline-block;
    height: 150px;
    margin: 0 5px 5px 0;
    padding: 0;
    position: relative;
    width: 150px;
}
.gallery-group .add {
    line-height: 150px;
    font-size: 150px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    vertical-align: top;
}
.gallery-group input.gallery {
    display: none;
}
.gallery-group a span {
    background-color: #fff;
    color: #000;
    display: inline-block;
    float: right;
    font-size: 45px;
    line-height: 50px;
    opacity: 0.25;
    text-align: center;
    width: 50px;
}
.gallery-group a:hover span {
    opacity: 1.0;
}

/* lib/local/admin.css */ #msgbox {
    margin-top: 20px;
    white-space: pre-wrap;
}

div.doclist .links {
    margin: .5em 0;
}

td.nowrap {
    white-space: nowrap;
}
td.wide {
    width: 100%;
}

ul.doclinks {
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}
ul.doclinks li {
    display: inline-block;
    margin: 0 10px 0 0;
}

table.doclist {
    width: 100%;
    margin-top: 20px;
}
table.doclist .title a {
    font-size: 18px;
    color: inherit;
}
table.doclist .id,
table.doclist .title {
    line-height: 20px;
}
table.doclist img {
    width: 100px;
    max-width: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
    color: #aaa;
    font-size: 14px;
}
.breadcrumb a {
    color: inherit;
}

.actions .btn {
    margin-right: 10px;
}

.files .file {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;

    margin: 0 1px 1px 0;
}
.files a.tile {
    display: block;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;
    border: none;

    font-size: 0;
    overflow: hidden;
    text-indent: -1000px;
}

.splash-row {
    margin-bottom: 20px;
}
.splash-title {
    font-size: 20px;
    line-height: 30px;
}

.photoeditor .picture {
    margin: 10px 0;
}


/**
 * Боковая навигация в админке.
 **/
.admnav ul {
    list-style-type: none;
    margin: 0 0 0 -5px;
    padding: 0;
}
.admnav li {
    margin: 0 0 2px;
    padding: 2px 0 0 7px;
}
.admnav li.active {
    background-color: #eee;
}


.admphotos .item {
    display: inline-block;
    width: 200px;
    margin: 0 10px 10px 0;
    position: relative;
    background-color: #eee;
    border-radius: 3px;
}
.admphotos .item .img {
    display: block;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.admphotos .actions {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.admphotos .actions a {
    color: #fff;
    display: inline-block;
    width: 50px;
    line-height: 30px;
    text-align: center;
}

.admin .nav-pills,
.admin .nav-tabs {
    margin: 0 0 20px;
}
.admin .nav-pills li {
    margin-right: 10px;
}


/**
 * На широких экранах выводим в две колонки.
 **/
@media (min-width: 1000px) {
    .doclists {
        column-count: 2;
    }
    .doclists .doclist {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    .doclist ul {
        margin-right: 20px;
    }
}

/* lib/local/forms.css */ form .ctl3 {
    display: none;
}

.form-radio label {
    display: block;
    font-weight: normal;
    cursor: pointer;
}

.form-group > label {
    font-weight: normal;
    color: #444;
}

input.form-control.short {
    max-width: 250px;
}
