{% extends "base.twig" %}

{% block page_title %}Архив — {{ site_name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Архив документов</h1>

        {% if is_admin %}
            <p><a class="btn btn-primary" href="/admin/archive/add?back=/archive">Добавить документ</a></p>
        {% endif %}
    </div>

    {% if objects %}
        <table class="blogs">
            <tbody>
                {% for object in objects %}
                    <tr>
                        <td class="date">{{ object.date_human }}</td>
                        <td>
                            <a href="/archive/{{ object.id }}">{{ object.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет ни одного документа.</p>
    {% endif %}
{% endblock %}
