{% extends "base.twig" %}

{% block page_title %}Оценка качества услуг{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Оценка качества услуг</h1>
    </div>

	<p>Если вы <i>вдруг</i> хотите оценить качество услуг, предоставляемых нашим музеем, вы можете скачать эту анкету<i>-приключение</i>, заполнить и принести в музей<i>или выбросить, всё равно никто не читает</i>.</p>

	<p><a href='/anketa_1910.pdf' style='display: inline-block; line-height: 0; border: 1px solid #ccc'><img src='/anketa_1910.jpg' width='177' height='250'/></a></p>

	<style type='text/css'>i { display: none }</style>
{% endblock %}
