{% extends "base.twig" %}

{% block page_title %}Выставки — {{ site_name }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Выставки в себежском музее</h1>
        <p class="lead">Музей регулярно проводит выставки работ местных художников и мастеров, демонстрирует тематические коллекии экспонатов.&nbsp; Здесь вы можете вкратце узнать о них.</p>
    </div>

    {% include "parts/about-short.twig" %}

    {% if is_admin %}
        <p><a class="btn btn-primary" href="/admin/exhibition/add?back=/exhibitions">Добавить выставку</a></p>
    {% endif %}

    {% if open %}
        <div class="tiles">
            {% for object in open %}
                {% include "parts/exhibition-tile.twig" %}
            {% endfor %}
        </div>
    {% endif %}

    {% if closed %}
        <h2>Прошедшие выставки</h2>
        <div class="tiles">
            {% for object in closed %}
                {% include "parts/exhibition-tile.twig" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
