{% extends "base.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Страница не найдена</h1>
    </div>

    <p>Запрошенной страницы на сайте нет.&nbsp; Если вы уверены, что она должна быть здесь&nbsp;— <a href="/mail">напишите нам</a>, возможно произошла ошибка.</p>
    <p>Попробуйте найти нужную информацию начиная с <a href="/">главной страницы</a>.</p>
{% endblock %}
