{% extends "base.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Доступ ограничен</h1>
    </div>

    <p><a class="btn btn-primary" href="/login">Войти через VK</a></p>
{% endblock %}
