/**
 * Форма подписки на новости.
 **/
.subscribe {
    margin: 50px 0;
    background-color: #ebedf2;
    font-size: 16px;
}
.subscribe > .container {
    padding: 20px 10px;
    display: flex;
    gap: 20px;
}
.subscribe .text {
    flex-grow: 3;
    flex-basis: 0;
}
.subscribe form {
    flex-grow: 2;
    flex-basis: 0;
}

.subscribe input {
    width: 100%;
    box-sizing: border-box;
}
.subscribe button {
    background-color: #888;
    color: #fff;
    margin-top: 10px;
}
.subscribe button:hover {
    background-color: #888;
}
.subscribe input,
.subscribe button {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #888;
    border-radius: 5px;
    display: block;
}
