name: Deploy to Droplet

on:
  push:
    branches: [ master ]

env:
  GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}

jobs:
  build-cron:
    name: "Build cron"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/cron
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-nginx:
    name: "Build nginx"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/nginx
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-openvpn:
    name: "Build openvpn"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/openvpn
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-files:
    name: "Build website-files"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-files
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-land:
    name: "Build website-land"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-land
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-museum:
    name: "Build website-museum"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-museum
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  deploy:
    runs-on: ubuntu-latest

    needs:
      - build-cron
      - build-nginx
      - build-openvpn
      - build-website-files
      - build-website-land
      - build-website-museum

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: env GHCR_TOKEN=${{ secrets.GHCR_TOKEN }} bash ~/repo/update.sh
