# Deploys the updates to the server.
#
# (1) Builds all Docker images and pushes them to GHCR, in parallel.
# (2) Runs the update script on the remote server.
#
# NOTE: this needs a self-hosted actions runner installed on the
# server, see the docs folder for details.

name: Deploy to Droplet

on:
  push:
    branches: [ master ]

env:
  GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}

jobs:
  build-cron:
    name: "Build cron"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/cron
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-nginx:
    name: "Build nginx"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/nginx
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-openvpn:
    name: "Build openvpn"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/openvpn
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-files:
    name: "Build website-files"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-files
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-land:
    name: "Build website-land"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-land
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  build-website-museum:
    name: "Build website-museum"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/website-museum
    steps:
    - uses: actions/checkout@v4
    - name: "Build and push the image"
      run: make build push

  deploy:
    runs-on: [self-hosted, linux, x64]

    needs:
      - build-cron
      - build-nginx
      - build-openvpn
      - build-website-files
      - build-website-land
      - build-website-museum

    steps:
      - name: Update the services
        run: |
          cd ~/repo
          ./update.sh
